.nav-header{
  min-height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #e5e1e1;
  padding: 5px 15px;
  ul{
    list-style: none;
    padding: 0px;
  }
  a{
    margin-right: 20px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }
  &--active{
    color: #5680f9 !important;
  }
}
