.page-container{
  padding: 20px;
  height: auto;
  overflow: auto;
  background-color: #dcdde0;
  height: calc(100vh - 100px);
}
.App {
  max-width: 1366px;
  margin:0 auto;
  &__content{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
